@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    max-width: 590px
    height: 100%
  .swiper-container
    height: 450px
  .card
    width: 230px
    height: 230px
  .packages
    &-items
      grid-template-columns: repeat(3, 300px)
      grid-template-rows: repeat(2, 500px)
    &-big
      width: 630px
      grid-template-columns: 322px 324px
      &__img
        min-width: 289px
      &__info
        padding-left: 20px
      &__wrap
        margin-bottom: 14px !important
  .footer
    &__input
      &-grup
        flex-basis: 100%
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
    width: 96%
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 47px
    &-menu
      padding-top: 20px
      padding-bottom: 22px
      justify-content: space-around
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .booking
    min-height: 210px
    padding: 33px 24px 26px 26px
    &__call-center
      margin-bottom: 17px
    &__buttom
      line-height: 10px
  .hotel
    padding-bottom: 55px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
      max-width: 100%
    &-right
      flex-direction: row
      margin-left: 0
  .booking
    width: 340px
    flex-basis: 49%
  #map
    flex-basis: 49%
    width: 340px
    overflow: hidden

  .reviews
    padding-bottom: 0
    &__title
      font-size: 30px
      margin-bottom: 48px

    &-slider
      &__button
        top: 35%
        &--prev
          left: 17px
        &--next
          right: -17px
      &__item
        max-width: 580px
  .activities
    padding-top: 0
    padding-bottom: 47px

    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    flex-basis: 49%
    height: 254px
    &__title
      margin-top: 116px
      &--size1
        max-width: 145px
      &--size2
        max-width: 153px
      &--size3
        max-width: 161px
      &--size4
        max-width: 200px

  .swiper-container
    height: 448px !important
  .packages
    &-items
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: 400px 500px 500px
    &-big
      width: 100%
      height: 400px
      grid-column: span 2
      grid-template-columns: 50% 50%
      &__img
        min-width: 401px
        max-height: 100%
      &-info
        padding: 24px 33px 20px 44px
        &__title
          margin-bottom: 12px
        &__text
          max-height: 120px
          font-size: 12px
    &-item
      grid-template-columns: 1fr
      grid-template-rows: 200px 200px
      &__info
        min-width: 100%

      &__img
        min-width: 100% !important
        max-height: 200px
    &-information
      &:not(:last-child)
        margin-right: 10px
      &__text
        margin-left: 5px
  .newsletter-title
    margin-top: 14px
  .subscribe
    max-width: 350px
  .footer
    padding-top: 43px
    &__additional
      margin-left: -37px
    &__legal
      margin-left: 21px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      &-grup
        flex-basis: 49%
    &-logo
      grid-row: 1 / 2
      grid-column: span 2
      padding-bottom: 15px
      width: 95px !important
    &__social
      &-links
        margin-top: 34px

      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
      margin-top: -5px
    &__additional
      grid-column: span 2
      margin-top: -5px
    &__legal
      grid-column: span 2
      margin-top: -5px
    &__contacts
      &-details
        grid-column: span 5
        grid-row: 3
        margin-top: 18px
      &-form
        grid-column: span 5
        grid-row: 4
    &__title
      font-size: 18px
      &--inline
        margin: 33px 44px 0 -51px
    &__input
      width: 100%
    &__form
      max-width: 551px
    &__information
      margin-top: 55px
    &__info
      margin-right: 10px

  .modal__info
    font-size: 9px

@media (max-width: 728px)
  body
    padding-top: 78px
  .navbar-top__menu-button
    display: flex
    width: 16px
    height: 11px
    align-items: center
    justify-content: space-between
    flex-direction: column
    border: none
    background-color: #fff
    cursor: pointer
    padding: 0
    outline: none
  .navbar
    &__user, &__search
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &_visible
            display: block
    &__user
      flex-direction: column
      align-items: center
    &__bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      &-active
        display: flex
    &--mobile_fixed
      position: fixed
      left: 0
      right: 0
      top: 0
      z-index: 99
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .menu-button__line
    width: 16px
    height: 1px
    background-color: $text-color
  .stars
    flex-basis: content
  .hotel
    padding-bottom: 0
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  #map
    width: 100%
    margin-top: 15px
  .swiper-container
    height: 450px
  .newsletter
    &-wrapper
      flex-direction: column
      align-items: flex-start
  .reviews
    &__title
      font-size: 30px
      line-height: 38px
      max-width: 487px
      margin: 0 auto 50px auto
    &-slider

      &__text
        max-width: 455px
      &__item
        padding: 0 30px 30px
        max-width: 550px
        grid-gap: 10px
        &::after,
        &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
  .card
    flex-basis: 49%
    height: 255px
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .packages
    &-items
      display: grid
      grid-template-columns: 50%
      grid-template-rows: repeat(5, 1fr)
      grid-row-gap: 20px
      grid-column-gap: 0

    &-big
      flex-direction: column
      min-width: 100%
      max-height: 250px
      &__img
        min-width: 100%
        min-height: 100%
        border-radius: 8px 8px 0 0
      &-info
        padding-top: 18px
        padding-bottom: 5px
        border-radius: 0 0 8px 8px
        min-width: 100%
        min-height: 251px
        &__text
          display: none
    &-item
      grid-column: span 2

  .footer
    &-wrapper
      grid-column-gap: 30px
    &__input
      &-grup
        flex-basis: 100%
  .modal__dialog
    padding: 33px 35px
@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    padding-bottom: 40px
    &__slider
      margin-bottom: 20px
      height: 250px
  .swiper-slide
    object-fit: cover
  .swiper-slide__img
    height: 300px
  .newsletter
    padding: 76px 0 83px 0
  .newsletter__subscribe
    width: 100%

  .newsletter-title__strong
    font-weight: 600
    font-size: 30px
    line-height: 38px
  .newsletter-title
    font-weight: 300
    font-size: 20px
    line-height: 25px
    margin-bottom: 5px
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
      margin: 0 auto 42px
      max-width: 245px
    &-slider
      &__item
        padding: 0 20px 50px 20px
        max-width: 281px
  .card
    flex-basis: 100%
  .packages
    &-item
      &-buttons
        max-width: 269px

  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-column-gap: 0
    &-logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        display: flex
        flex-direction: column
        grid-row: 2
        grid-column: 1
        align-self: center
      &-links
        margin-top: 20px
        justify-content: initial
    &__link--mr-1:not(:last-child)
      margin-right: 10px
    &__categories
      grid-row: 4
      grid-column: 1
    &__additional
      grid-row: 3
      grid-column: span 2
    &__legal
      grid-column: 1
      grid-row: 5
    &__contacts
      &-details
        grid-column: 1
        grid-row: 6
      &-form
        grid-column: 1
        grid-row: 7
    &__down
      flex-direction: column
      align-items: flex-start
    &__button
      order: 2
    &__info
      order: 1
      margin-bottom: 15px
    &__title
      font-size: 14px
    &__information-wrap
      flex-direction: column
      align-items: start
      min-width: 100%
    &__information-links
      margin-bottom: 20px
  .modal__dialog
    padding: 33px 35px
  .modal__dialog
    width: 96%
  .modal__dialog
    padding: 33px 35px
  .modal__message
    width: 100%

@media (max-width: 416px)
  .packages
    grid-template-columns: 250px
    &-big
      &-info
        padding: 20px 0px 35px 20px
    &-item
      &-buttons
        max-width: 262px
  .search__input
    width: 254px
  .footer__message
    flex-basis: 100%

@media (max-width: 322px)
  .hotel
    padding-top: 19px
    padding-bottom: 39px
    &-right
      min-height: 377px
    &-info
      padding-bottom: 38px
    &-info__name
      margin-bottom: 2px
  #map
    min-height: 178px
  .newsletter
    padding: 64px 0 47px 0
    min-height: 319px
    &-title
      margin-bottom: 13px
      &__strong
        line-height: 42px
        margin-bottom: 23px
  .reviews
    padding-top: 40px
    &-slider
      height: 482px !important
      &__text
        margin: auto
        max-width: 530px
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 158%
    &-slider__button--next
      right: 41%
    &-slider__button--prev
      left: 41%
    &-slider__text
      max-width: 219px
  .activities
    padding-top: 72px
    padding-bottom: 40px
    &__title
      font-size: 18px
      margin-bottom: 33px
  .subscribe__input
    padding-left: 20px
  .reviews-slider__profile
    margin-bottom: 24px
  .parallax-mirror
    min-height: 319px !important
  .hotel-slider
    height: 180px !important
  .container, .newsletter-wrapper
    max-width: 278px
    width: 100%
  .breadcrumb-list
    padding-bottom: 0
    padding-top: 19px
  .slider
    height: 227px
  .swiper-slide
    object-fit: cover
  .swiper-slide__img
    height: 227px
  .booking
    padding: 29px 20px 21px 23px
    &__pricetag
      line-height: 30px
  .packages
    &-info
      padding-top: 16px
      min-width: 300px
      &__text
        max-width: 185px
        margin-bottom: 3px !important
    &-big
      &__button
        margin-top: 3px
        width: 68%
      &__wrap
        flex-direction: column
  .card
    &:nth-child(1)
      order: 1
    &:nth-child(2)
      order: 3
    &:nth-child(3)
      order: 2
    &:nth-child(4)
      order: 4   
            
  .footer
    padding-top: 45px
    &__title--inline
      font-size: 18px !important
      margin: -13px 44px 0 0px
    &__input
      flex-basis: 94%
    &__message
      flex-basis: 100%
    &__legal
      grid-row: 3
      margin-left: 0
      margin-top: -10px
    &__additional
      grid-row: 4
      margin-left: 0px
      margin-top: -10px
    &__categories
      grid-row: 5
      margin-top: -15px
      margin-left: 0
    &__form
      margin-top: 7px
    &__message
      margin-bottom: 11px
    &__information-links
      margin-bottom: 11px
    &__information
      margin-top: 29px
    &__input-grup
      margin-bottom: 17px
    &__contacts-details
      margin-top: 1px
    &__icon-wrapper
      margin-left: 5px
      min-width: 26px
    &__title
      font-size: 18px
  .modal__dialog
    width: 100%

@media (max-height: 489px)
  .modal__dialog
    overflow-y: auto
    height: 98vh
