@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    max-width: 590px
    height: 100%
  .swiper-container
    height: 450px
  .card
    width: 230px
    height: 230px
  .packages
    &-items
      grid-template-columns: 300px 300px 300px
      grid-template-rows: repeat(2, 460px)
    &-big
      width: 630px
      grid-template-columns: 322px 324px
      &__info
        padding-left: 20px
      &__wrap
        margin-bottom: 14px !important
    &-info
      max-width: 300px
      &-footer
        display: flex
        justify-content: initial
      &__title
        margin-bottom: 15px
      &__text
        margin-bottom: 25px

      &__price
        margin-right: 17%
      &__wrap
        margin-bottom: 10px
    &-item
      grid-template-columns: 300px
      grid-template-rows: 230px 230px
      &__img
        max-width: 300px
      &__info
        margin-bottom: 11px !important

@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 943px
    width: 96%
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
      max-width: 100%
    &-right
      flex-direction: row
      margin-left: 0
  .booking
    width: 340px
    flex-basis: 49%
  #map
    flex-basis: 49%
    width: 340px
    overflow: hidden

  .reviews
    &-slider
      &__item
        max-width: 580px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    flex-basis: 49%
    height: 230px
  .packages
    &-items
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(2, 1fr)
    &-big
      width: 100%
      height: 400px
      grid-template-columns: 50% 50%
      &__img
        min-width: 100%
    &-info
      min-width: 100%
      &__wrap
        flex-direction: row
        flex-wrap: wrap
    &-item
      grid-template-columns: 1fr
      grid-template-rows: 200px 200px
      &__img
        min-width: 100% !important
        max-height: 200px
    &-information
      &:not(:last-child)
        margin-right: 10px
      &__text
        margin-left: 5px

@media (max-width: 728px)
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      padding: 0
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: content
  .hotel
    padding-bottom: 0
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  #map
    width: 100%
    margin-top: 15px
  .swiper-container
    height: 450px
  .newsletter
    &-wrapper
      flex-direction: column
      align-items: flex-start
  .reviews
    &__title
      font-size: 30px
      line-height: 38px
      max-width: 487px
      margin: 0 auto 50px auto
    &-slider

      &__text
        max-width: 455px
      &__item
        padding: 0 30px 30px
        max-width: 550px
        &::after,
        &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -65px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -65px
  .card
    flex-basis: 49%
    height: 255px
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .packages
    &-items
      grid-template-rows: repeat(2, 340px)
    &-big
      width: 100%
      height: 340px
      grid-template-columns: 50% 50%
      &__img
        min-width: 100%
    &-info
      width: 100%
      padding-top: 8px
      &__title
        font-size: 14px
        line-height: 19px
      &__text
        font-size: 12px
        margin-bottom: 15px
        line-height: 145.6%
      &-nomoney
        line-height: 8px
    &-item
      grid-template-columns: 1fr
      grid-template-rows: 170px 170px
      &__img
        min-width: 100% !important
        max-height: 170px
    &-information
      &__text
        font-size: 10px
        line-height: 11px
@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    padding-bottom: 40px
    &__slider
      margin-bottom: 20px
      height: 250px
  .swiper-slide
    object-fit: cover
  .swiper-slide__img
    height: 300px
  .newsletter
    padding: 76px 0 83px 0
  .newsletter__subscribe
    width: 100%

  .newsletter-title__strong
    font-weight: 600
    font-size: 30px
    line-height: 38px
  .newsletter-title
    font-weight: 300
    font-size: 20px
    line-height: 25px
    margin-bottom: 5px
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
      margin: 0 auto 42px
      max-width: 245px
    &-slider
      &__item
        padding: 0 20px 50px 20px
        max-width: 281px
  .card
    flex-basis: 100%
  .packages
    &-items
      grid-template-columns: 100%
      grid-template-rows: repeat(5, 360px)
      grid-column-gap: 0
    &-big
      height: 360px
      grid-template-columns: 35% 65%
      &__info
        padding-left: 9px
      &__img
        min-width: 100%
        min-height: 100%
    &-info
      padding-top: 24px
      min-width: 100%
      &__title
        font-size: 18px
        line-height: 23px

      &__price
        margin-right: 15%
    &-item
      grid-column-start: 1
      grid-template-columns: 100%
      grid-template-rows: 180px 180px
      &__img
        min-width: 100% !important
        max-height: 180px

@media (max-width: 416px)
  .packages  
    &-big
      &__title
        margin-bottom: 5px
      &-nomoney
        line-height: 23px
        font-size: 18px 
      &__info
        padding-top: 10px
        padding-left: 9px
      &__text
        line-height: 118.6% !important
        margin-bottom: 15px !important  
      &__wrap
        margin-bottom: 3px !important  
      &-footer 
        margin-top: 10px 
        flex-direction: column
        align-items: flex-start
      &__button
        margin-top: 3px
        width: 100%
         
    &-info
      &__rating
        display: none
      &__text
        line-height: 118.6% !important
        margin-bottom: 15px !important
      &-nomoney
        line-height: 2px         

@media (max-width: 322px)
  .slider
    height: 227px
  .swiper-slide
    object-fit: cover
  .swiper-slide__img
    height: 227px
  .packages
    &-info
      padding-top: 16px
      min-width: 300px
      &__text
        max-width: 185px
        margin-bottom: 3px !important

    &-big
      &__button
        margin-top: 3px
        width: 68% 
      &__wrap
        flex-direction: column   
