.footer
  background-color: $dark
  color: $light
  padding-top: 108px
  padding-bottom: 46px
  &__legal
    margin-left: 69px
  &__additional
    margin-left: 7px
  &__categories
    margin-left: 4px
  &-wrapper
    display: grid
    grid-template-columns: repeat(4, minmax(min-content, 1fr))
    grid-gap: 20px
    grid-auto-rows: minmax(40px, min-content)
    align-items: start
  &__button
    max-width: 160px
    width: 100%
  &-logo
    width: 152px
    margin-top: 31px
    grid-row: 1 / 4
  &__categories
    grid-row: 1 / 4
  &__social
    &-links
      display: flex
      align-items: center
      min-width: 83px
      justify-content: space-between
    &-network
      display: flex
      align-content: start
      grid-row: 2 / 4

      grid-column: 2 span
  &__contacts
    &-details
      grid-column-start: span 2
      margin-top: 10px
    &-form
      grid-column-start: span 2
  &__form
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    margin-top: 27px
  &__ul
    padding: 0
    margin: 0
    list-style: none
  &__item
    display: flex
    align-items: flex-start
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 160%
    color: $footer-text-color
    &--mb-2
      margin-bottom: 20px
  &__icon
    &-wrapper
      margin-left: 5px
      min-width: 36px
  &__text
    color: $footer-text-color
    margin-top: 27px
    margin-bottom: 24px
  &__title
    white-space: nowrap
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    margin: 0 0 16px 0
    text-transform: uppercase
    &--inline
      margin: 3px 43px 0 4px
    &--mb-3
      margin-bottom: 30px

  &__link
    text-decoration: none
    color: inherit
    transition: all 0.2s
    &:hover
      color: rgba(189, 189, 189, 0.8)
      text-decoration: underline
  &__input
    width: 100%
    &-grup
      max-height: 50px
      margin-bottom: 20px
      flex-basis: 48%

  &__message
    flex-basis: 100%
    margin-bottom: 22px

  &__info
    font-style: normal
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: $footer-info
  &__down
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
  &__information
    margin-top: 95px
    display: flex
    justify-content: flex-end
    &-wrap
      display: flex
      align-items: flex-end
      justify-content: space-between
      min-width: 696px
    &-links
      display: flex
      justify-content: space-between
      min-width: 283px
    &-link
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      color: $light
      text-decoration: none
      transition: all 0.2s
      &:hover
        color: rgba(189, 189, 189, 0.8)
        text-decoration: underline
    &-icon
      width: 136px
      height: 22px

  &__wrap-tel
    display: flex
    flex-direction: column
