.packages
  padding: 12px 0 70px 0
  &__title
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
    color: #333333
    text-align: center
    margin-bottom: 65px
  &-items
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(2, 500px)
    grid-gap: 30px
  &-big
    display: flex
    grid-column: span 2
    &__img
      height: 500px
      min-width: 366px
      object-fit: cover
      border-radius: 8px 0 0 8px
    &-info
      background-color: #0A223D
      padding: 38px 21px 35px 44px
      border-radius: 0 8px 8px 0
    &-stars
      margin-bottom: 3px
    &-info__text
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 160.6%
      color: #FFFFFF
      margin-bottom: 41px
    &__nomone
      margin-top: 41px !important
      display: block
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 18px
      text-decoration-line: line-through
      color: #FFFFFF
  &-item
    height: 500px
    display: flex
    flex-direction: column
    &__img
      border-radius: 8px 8px 0 0
      max-width: 350px
      min-height: 250px
      object-fit: cover
    &__info
      margin-right: 0
      background-color: #0A223D
      max-width: 350px
      min-height: 250px
      padding: 30px 21px 25px 32px
      border-radius: 0 0 8px 8px
    &-gid
      display: flex
      align-items: center
      margin-left: 3px
      &:not(:last-child)
        margin-bottom: 11px
    &-gid__icon
      margin-right: 14px
    &-gid__text
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
      color: #FFFFFF
    &__nomone
      margin-top: 25px
      display: block
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 18px
      text-decoration-line: line-through
      color: #FFFFFF

    &-buttons
      display: flex
      max-width: 297px
      align-items: center
      justify-content: space-between
      margin-left: 2px
    &__price
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 30px
      color: #FFFFFF
    &__buttons
      background: #EC1F46
      min-height: 40px
      border-radius: 4px
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 19px
      color: #FFFFFF
      padding: 11px 27px
.packages-big-info__title
  font-style: normal
  font-weight: bold
  font-size: 18px
  line-height: 23px
  color: #FFFFFF
  margin-bottom: 27px
.item-info__title
  font-style: normal
  font-weight: bold
  font-size: 18px
  line-height: 23px
  color: #FFFFFF
  margin-top: 0
  margin-bottom: 22px
.packages-label
  white-space: nowrap
  padding: 8px 21px 7px 11px
  position: absolute
  font-weight: 600
  font-size: 12px
  line-height: 15px
  top: 26px
  left: 0
  max-width: 95px
  min-height: 30px
  background-color: $primary
  color: $light
  border-radius: 0 4px 4px 0
.packages-item__label
  white-space: nowrap
  padding: 4px 9px
  position: absolute
  font-style: normal
  font-weight: 600
  font-size: 8px
  line-height: 10px
  top: 26px
  left: 0
  max-width: 60px
  min-height: 18px
  background-color: $primary
  color: $light
  border-radius: 0 4px 4px 0
