.packages
  padding: 40px 0 70px 0
  &__title
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
    color: #333333
    text-align: center
    margin-bottom: 65px
  &-items
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(2, 500px)
  &-big
    display: flex
    grid-column: span 2
    
    &__img
      height: 500px
      min-width: 366px
      object-fit: cover
      border-radius: 8px 0 0 8px
    &-info
      background-color: #0A223D
      padding: 46px 21px 35px 44px
      border-radius: 0 8px 8px 0
    &-stars
      margin-bottom: 5px
    &-info__text
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 160.6%
      color: #FFFFFF
      margin-bottom: 34px
  &-item-gid
    display: flex
    align-items: center
    &:not(:last-child)
      margin-bottom: 11px
  &-item-gid__icon
    margin-right: 14px
  &-item-gid__text
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 15px
    color: #FFFFFF
  &-item__nomone
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 18px
    text-decoration-line: line-through
    color: #FFFFFF

  &-item-buttons
    margin-top: 5px
    display: flex
    max-width: 297px
    align-items: center
    justify-content: space-between
  &-item__price
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 30px
    color: #FFFFFF
  &-item__buttons
    background: #EC1F46
    border-radius: 4px
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 19px
    color: #FFFFFF
    padding: 11px 27px


.item-info__title
  font-style: normal
  font-weight: bold
  font-size: 18px
  line-height: 23px
  color: #FFFFFF
  margin-bottom: 27px
